backend/venv/
**/__pycache__/
backend/uploads/*.csv
backend/uploads/*.xlsx
backend/uploads/*.xls
backend/pdfs/*.pdf
backend/json_extractions/*.json
backend/text_extractions/*.txt
/backend/utils/.env

frontend/.DS_Store
frontend/node_modules
frontend/dist

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
